/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */

        header {
            height: 56pt;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            display: flex;

            .logo {
                width: 100%;
                display: flex;
                justify-content: space-around;
                background-position-x: center;
                background-position-y: center;
            }

        }
        .pais{
        
                color: #B2B2B2;
                font-family:  "Open Sans";
                font-size: 12px;
                line-height: 18px;
                text-align: left;
            
        }
        .column-2 {
            width: 100%;
            display: block;
        }

        .column-1-flex {
            width: 100%;
            display: flex;
        }
         
        .box-item.box-item-prefix {
            max-width: 100px;
            margin-right: 5%;
            display: block;
            @media screen and (min-width: 981px) {
                width: 50%;
            }
        }
        .fix-50{
            width: 100%;
            display: flex;
        }
        .box-item.box-item-phone { 
            display: block;
            @media screen and (min-width: 981px) {
                
            }
        }

        .box-item {
            margin-bottom: 32px; 
            width: 100%;
            background-color: #FFFFFF;
            height: 100%;
            @media screen and (min-width: 981px) {
                margin-right: 28px;  
            }



            .box-item-input {
                width: 100%;
                display: block;
                height: calc(44px - 24px);
                border: 1px solid #B2B2B2;
                padding: 12px;
            }

        }

        body {


            main section article div.send-style {
                display: block;
            }

            .rectangle-black {
                width: 100%;
                height: 80px;
                border: 1px solid #000000;
                border-radius: 2px;
                border-bottom: 2px solid;
                margin-top: 8px;
            }
            .resumen-pedido{
                @media screen and (min-width: 981px) {
                    display:none;
                }
            }
            .rectangle-grey {
                width: 100%;
                height: 80px;
                border: 1px solid #E6E6E6;
                border-radius: 2px;
                @media screen and (min-width: 981px) {
                     
                    margin-top: 8px;
                }

            }

            .subheader-style-resume {
                margin-left: -20px !important;
                margin-right: -20px !important;
                display: flex;
                align-items: center;
                padding-top: 5%;
                padding-bottom: 5%;
                padding-left: 8%;
                padding-right: 8%;

            }

            .subheader-style {
                justify-content: space-between;
                display: flex;
                align-items: center;
                padding: 12px;
                
            }

            .subheader-color {
                background-color: #F7F7F7;
            }
        }


        /* Portrait */
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

        /* Landscape */
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}

        /* ----------- iPhone X ----------- */

        /* Portrait and Landscape */
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}

        /* Portrait */
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

        /* Landscape */
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}

        // desktop
        @media screen and (min-width: 981px) {

            // Test
            .column-2 {
                display: flex;
                .fix-50{
                    &:first-child{
                        margin-right: 28px;
                    }
                    width: calc(50% - 28px);
                     
                }
                > .box-item {
                    width: calc(50% - 14px); // 28px margin
                    display: flex;
                    flex-direction: column;
                }
            }

        }